@using LunchTime.Shared
@model LunchMenus

@{
    ViewBag.Title = "Home Page";
    var cities = Model.Cities.Select(c => new SelectListItem(c, c));
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <form>
        <div class="form-group">
            <select asp-for="@Model.SelectedCity" asp-items="@cities" class="city form-control">
                <option>Vyberte město...</option>
            </select>
        </div>
    </form>
</nav>
<div id="main">
    <span class="">Loading...</span>
</div>

@section scripts {
    <script src="~/js/lunchtime.js"></script>
    <script>
        $(document).ready(function () {
            init(@SerializationHelper.JsSerializeHtml(Constants.BookmarkedCookieName), @SerializationHelper.JsSerializeHtml(Constants.SelectedCityCookieName));
            loadData();
        });
    </script>
}